#canvas {
    float: left;
    height: 100%;
    width: 75%;
    border: dashed 1px #979797;
}

.container {
  display:inline-block;
  width: 100%;
  height: 100%;
}

.properties-panel:empty {
  display: none;
}

.boutons {
  float: left;
  width: 25%;
  button {
    width: 100%;
    margin-bottom: 5px;
  }
  .properties-panel {
    div.label {
      color: #666666 !important;
    }
  }
}

::ng-deep #canvas + .boutons .bpp-properties-panel .bpp-properties-header .label {
  color: #666666;
}